<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mentalhealth.mapper.ExamPaperQuestionMapper">
    <select id="getQuestionIdsByPaperId" >
        SELECT question_id FROM exam_paper_question WHERE paper_id = #{paperId}
    </select>
</mapper>